html {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-color: white;
  overflow: hidden !important;
  background-color: #f2f2f2; }

body {
  font-family: "Open Sans", sans-serif; }

.section {
  text-align: center; }

h1 {
  font-weight: 400;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 2%;
  position: relative; }
  h1:before {
    content: '';
    position: absolute;
    z-index: 7;
    top: 100%;
    left: 50%;
    background-color: #d4d4d4;
    width: 360px;
    height: 1px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: background-color 300ms ease-in-out;
    max-width: 60%; }
  h1:after {
    content: '';
    position: absolute;
    z-index: 8;
    top: 100%;
    left: 50%;
    margin-top: -2px;
    background-color: #c22436;
    width: 30px;
    height: 4px;
    -webkit-transform: translateX(-50%) skew(45deg);
    -ms-transform: translateX(-50%) skew(45deg);
    transform: translateX(-50%) skew(45deg);
    transition: background-color 400ms ease 0ms; }

h2 {
  font-weight: 200;
  margin-top: 2%;
  margin-bottom: 2%; }

h4 {
  font-weight: 600;
  margin-top: 2%;
  margin-bottom: 2%; }

p {
  font-size: 0.8em;
  margin: 0;
  padding: 0 5%; }

.container {
  z-index: 3;
  width: 100%;
  height: 86vh; }

.title-container {
  height: 12vh;
  width: 100%; }

.left {
  float: left; }

.right {
  float: right; }

/*navbar*/
.hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 10px;
  padding: 0;
  width: 40px;
  height: 43px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  float: right; }
  .hamburger:focus {
    outline: none; }
  .hamburger span {
    display: block;
    position: absolute;
    top: 20px;
    left: 2px;
    right: 2px;
    height: 3px;
    background: black; }
    .hamburger span:before {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 3px;
      background: black;
      content: "";
      top: -10px; }
    .hamburger span:after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 3px;
      background: black;
      content: "";
      bottom: -10px; }

.hamburger--x {
  background-color: transparent; }
  .hamburger--x span {
    transition: background 0s 0.2s; }
    .hamburger--x span:before {
      transition-duration: 0.3s;
      transition-delay: 0.2s;
      transition-property: top, -webkit-transform;
      transition-property: top, transform;
      transition-property: top, transform, -webkit-transform; }
    .hamburger--x span:after {
      transition-duration: 0.3s;
      transition-delay: 0.2s;
      transition-property: bottom, -webkit-transform;
      transition-property: bottom, transform;
      transition-property: bottom, transform, -webkit-transform; }
  .hamburger--x.active span {
    background: none; }
    .hamburger--x.active span:before {
      top: 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      transition-delay: 0.2s; }
    .hamburger--x.active span:after {
      bottom: 0;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      transition-delay: 0.2s; }

nav {
  top: -50px;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9;
  transition: all 0.3s;
  transition-delay: 0.3s;
  overflow: hidden;
  position: fixed; }
  nav.shown {
    top: 0;
    display: block; }

.menu {
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  padding-top: 10vh;
  padding-left: 0; }
  .menu li {
    padding: 4% 0;
    color: white;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: 'Nunito', sans-serif;
    transition: 0.2s ease; }
    .menu li:hover {
      text-decoration: underline; }

header {
  width: 100%;
  height: 12vh;
  position: fixed;
  z-index: 10; }

.block {
  background-color: indianred;
  width: 100%;
  height: 54px;
  z-index: -1;
  position: absolute; }
  .block:after {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    transform: skewY(3deg); }

/*about-us*/
.image-about {
  width: 250px;
  height: 250px; }

/*the gym*/
.gym-info-box {
  border: 1px solid black;
  display: inline-block;
  width: calc(100%/4.5);
  margin-bottom: 2%; }
  .gym-info-box span {
    font-size: 0.8em; }

.circle {
  border: 2px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: table; }
  .circle span {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.5em; }

.coaches .container {
  height: 60vh;
  margin-top: 6vh; }

.coaches-box {
  float: left;
  margin: 0%;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 50%;
  display: inline-block; }
  .coaches-box:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.coaches-image {
  width: 100%;
  height: 60%;
  overflow: hidden; }
  .coaches-image img {
    width: 100%;
    height: 100%; }

.coaches-info {
  height: 40%;
  width: 100%;
  position: relative; }

.woman-class {
  width: 100%;
  height: 50%; }
  .woman-class img {
    height: 100%; }

.man-class {
  width: 100%;
  height: 50%; }
  .man-class img {
    height: 100%; }

.transformation-container {
  height: 50%;
  width: 100%;
  overflow: hidden; }
  .transformation-container .transformation-image {
    width: 50%;
    height: 100%;
    display: inline-block; }
    .transformation-container .transformation-image img {
      max-width: 100%; }
  .transformation-container .transformation-quote {
    width: 50%;
    height: 100%;
    display: inline-block; }

.contact {
  background-image: url(../images/kettlebell-1045067_1280.jpg);
  background-position: center;
  background-size: cover; }
  .contact h1 {
    color: white; }

.card {
  background-color: white;
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  margin-top: 4vh;
  box-shadow: 0px 1px 4px #BDBDBD; }
  .card #contact-form {
    padding: 25px;
    padding-top: 10px;
    text-align: center; }
    .card #contact-form h4 {
      font-weight: 700;
      padding: .75rem 0;
      border: solid #f2f2f2;
      border-width: thin 0; }
    .card #contact-form span {
      font-size: 0.7em; }
    .card #contact-form fieldset {
      border: none; }
      .card #contact-form fieldset input {
        border: 1px solid #CCC;
        margin: 0 0 5px;
        background-color: #f2f2f2;
        width: 100%;
        font-size: 0.9em; }
      .card #contact-form fieldset textarea {
        border: 1px solid #CCC;
        margin: 0 0 5px;
        resize: none;
        width: 100%;
        background-color: #f2f2f2;
        font-size: 0.9em; }
    .card #contact-form button {
      border: none;
      text-transform: uppercase;
      outline: 0;
      background: #4CAF50;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      transition: 0.3s ease-in; }
      .card #contact-form button:hover {
        background-color: #228426; }
