@mixin grid($cols, $marg) {
    float: left;
    margin: $marg;
    width: ((100%-(($cols - 1) * $marg))/$cols)
}


//media queries
@mixin phone-mQ{
  @media screen and (min-width: 400px) {
    @content;

  }
}

@mixin tablet-portrait-mQ{
  @media screen and (min-width: 600px) {
    @content;

  }
}

@mixin tablet-landscape-mQ{
  @media screen and (min-width: $arg) {
    @content;

  }
}

@mixin desktop-mQ{
  @media screen and (min-width: 1000px) {
    @content;

  }
}





@mixin landscape{
  @media screen and (max-width: 780px) and (orientation:landscape) {
    @content;

  }
}
